page-signup {
    .splash-bg {
        /*position: relative;
        background: url('../assets/img/splashbg2.png') no-repeat transparent;
        background-size: cover;
        height: 45%;
        z-index: 1;
        background-repeat: repeat-x;
        animation: animatedBackground 40s linear infinite;*/
        height: 15%;
        }

        .splash-logo {
            margin: auto;
            background: url('../assets/img/icon_persona2.png') repeat transparent;
            background-size: 100%;
            width: 128px;
            height: 128px;
            padding-bottom: 70px;
            }
 	


            
}
